 /* X-Small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
     .banner {
         height: 100vh !important;
     }

     .banner .banner-content h1 {
         font-size: 38px !important;
     }

     .about-us .about-team {
         display: block !important;
     }

     .about-us .about-team>div {
         margin-bottom: 25px;
     }

     .blog .blog-content .blog-content-item {
         flex-direction: column !important;
     }

     .blog .blog-description {
         width: 100% !important;
         text-align: justify;
         margin-top: 10px !important;
     }

     .blog-content-item img {
         width: 100% !important;
         height: 200px !important;
     }

     .contact-us .contact-us-address {
         display: block !important;
     }

     .contact-us .contact-us-address div {
         margin-bottom: 20px;
         display: flex;
         align-items: end;
         gap: 25px;
     }

     .form .fullname {
         display: block !important;
         gap: 20px;
     }

     .fullname input {
         width: 100% !important;
         margin-top: 15px;
     }

     .form button {
         width: 100% !important;
         margin-top: 20px !important;
     }

     .footer .footer-top {
         display: block !important;
     }

     .footer-top .footer-about,
     .footer-top .footer-quick-access,
     .footer-top .footer-social {
         width: 100% !important;
         margin-bottom: 25px;
     }

     .footer .copyright p {
         color: #737373;
         font-size: 14px !important;
     }
 }

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {
     .container {
         width: 100% !important;
         padding: 0 10px;
     }

     .navbar {
         width: 100% !important;
         padding: 0 20px;
     }

     .navbar .menu {
         /* display: none !important; */
         position: fixed;
         width: 250px;
         background-color: white;
         top: 0;
         right: -250px;
         bottom: 0;
         display: block !important;
         padding: 50px 30px 0 0;
         transition: all .5s linear;
     }

     .navbar .menu.active {
         right: 0 !important;
     }

     .navbar .menu li {
         margin-bottom: 20px;
     }

     .menu li a {
         font-size: 18px !important;
     }

     .menu .dropdown-parent {
         margin-bottom: 0 !important;
         position: static !important;
         padding-bottom: 0 !important;
     }

     .dropdown-parent .dropdown-top {
         position: static !important;
         opacity: 1 !important;
         border: none !important;
         margin-top: 15px;
         height: 0px;
         overflow: hidden;
         transition-duration: .5s !important;
         /* transition-timing-function: ; */
         /* transition-property: ; */
     }

     .dropdown-top.active {
         height: 180px;
     }

     #about-us-icon {
         margin-right: 120px;
     }

     #about-us-icon.active i {
         transform: rotate(180deg) !important;
     }

     .dropdown-top li {
         margin-bottom: 0 !important;
         padding-right: 0 !important;
     }

     .dropdown-top li a {
         font-size: 14px !important;
     }

     .inner-dropdown-parent {
         position: static !important;
     }

     .inner-dropdown-parent .inner-dropdown {
         position: static !important;
         opacity: 1 !important;
         border: none !important;
         margin-top: 15px;
     }

     .inner-dropdown.active {
         height: 60px !important;
     }

     .link-icon.active i {
         transform: rotate(180deg) !important;
     }

     .navbar .menu-btn {
         display: block !important;
     }

     .about-us #about-team {
         grid-template-columns: repeat(2, auto) !important;
     }

     .our-services-description {
         width: 100% !important;
         text-align: justify;
     }

     .gallery #gallery-content {
         grid-template-columns: repeat(2, auto) !important;
     }

     .trainees-content .trainees-content-item {
         width: 100% !important;
         margin: 0 auto;
     }
 }

 /* Medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) {
     .about-us .about-content {
         display: block !important;
     }

     .about-content>div {
         width: 100% !important;
     }

     .about-us .about-team {
         grid-template-columns: repeat(3, auto) !important;
     }

     /* .about-team .about-team-item {
         width: 50% !important;
     } */

     .blog .blog-content {
         grid-template-columns: auto !important;
     }

     .contact-us .contact-us-address {
         width: 100% !important;
     }

     .footer .footer-top {
         flex-wrap: wrap;
         justify-content: start !important;
     }

     .footer-top>div {
         width: 45% !important;
     }
 }

 /* Large devices (desktops, less than 1200px) */
 @media (max-width: 1199.98px) {
     .container {
         width: 80% !important;
     }

     .gallery .gallery-content {
         grid-template-columns: repeat(3, auto) !important;
     }
 }

 /* X-Large devices (large desktops, less than 1400px) */
 @media (max-width: 1399.98px) {}